.large-hero{
    color: purple;
    position: relative;
}

.large-hero__text-content{
    position: absolute;
    top:0;
    transform: translateY(100%);
    left: 0;
    width: 100%;
    text-align: center;
}
