.menu-principal {
  padding-top: 10px;

  @mixin atMedium {
    padding-top: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    display: inline-block;
    padding-right: 7px;
    @mixin atMedium {
      padding-right: 20px;
    }
  }

  li:last-child {
    padding-right: 0;

    @mixin atMedium {
      padding-right: 20px;
    }
  }

  a {
    color: #fff;
    font-weight: 300;
    font-size: 0.9rem;
    text-decoration: none;
    display: block;
    padding: 5px 8px;
    background-color: rgba(47, 85, 114, 0.7);

    @mixin atMedium {
      padding: 12px 0;
      font-size: 1rem;
      background-color: transparent;

      &.is-current-link {
        color: #fabb69;
      }
    }
  }
}
